{{#if showName}}
  <h2 id="title">Hello {{name}}</h2>
{{else}}
  <h2 id="title">Hello Ember!</h2>
{{/if}}

{{#unless showName}}
  <h2 id="title">Hello {{name}}</h2>
{{else}}
  <h2 id="title">Hello Ember!</h2>
{{/unless}}

<button {{action 'toggleName'}}>Toggle Name</button>

{{numClicks}} Clicks!

<button {{action 'incrementClicks'}}>Increment</button>
<button {{action 'decrementClicks'}}>Decrement</button>

{{outlet}}
